dist: xenial
os:
  - linux
env:
  global:
    - BLENDER_CACHE=$HOME/.cache/blender
    - BL_ADDON-Stop_motion_OBJ
  jobs:
    #- BLENDER_VERSION="2.80"
    #- BLENDER_VERSION="2.81a"
    - BLENDER_VERSION="2.82a"
    - BLENDER_VERSION="2.83"
language: python
python:
  - 3.7

cache:
  apt: true
  directories:
    - $HOME/.cache/pip
    - ${BLENDER_CACHE}

addons:
  apt:
    packages:
      - blender

branches:
  only:
    - master
    - /^version-.*$/ # TODO: remove this in the future. It's only there to support the "version-3" branch
    - dev # TODO: create and use a "dev" branch for staging

before_install:
  - mkdir -p ${BLENDER_CACHE}
  - ls ${BLENDER_CACHE}

install:
  - cd $TRAVIS_BUILD_DIR
  - python3 --version
  - pip install -r blender_requirements.txt
  - pip list

script:
  - pytest

# TODO: pr test: make sure GIT_TAG doesn't already exist
# if [ "$(git tag -l $VERSION_TAG)" != "" ]; then
#    echo "*** Tag already exists. Does version in project.json need updating?"
#    exit 1
#fi

before_deploy:
  # https://www.geeksforgeeks.org/awk-command-unixlinux-examples/
  - export TRAVIS_TAG=`cat version.py | grep currentScriptVersion | head -1 | awk -F= '{ print $2 }' | sed 's/[\",()]//g' | awk '{printf "v%s.%s.%s", $1, $2, $3; if(NF >= 4) print "." $4}'`
  # - git tag $TRAVIS_TAG -a -m "Generated tag from TravisCI for build $TRAVIS_BUILD_NUMBER"
  # - git push origin --tags
  - rm -rf Stop-motion-OBJ
  - mkdir Stop-motion-OBJ
  - cp *.py README.md LICENSE Stop-motion-OBJ
  - export RELEASE_ZIP=Stop-motion-OBJ-${TRAVIS_TAG}.zip
  - zip $RELEASE_ZIP Stop-motion-OBJ

deploy:
  # Master branch
  - provider: releases
    prerelease: false
    token: $GITHUB_PERSONAL_ACCESS_TOKEN
    file: $RELEASE_ZIP
    cleanup: false
    draft: true
    on:
      all_branches: true
      condition: $TRAVIS_BRANCH =~ ^master$
  # all other branches
  - provider: releases
    prerelease: true
    token: $GITHUB_PERSONAL_ACCESS_TOKEN
    file: $RELEASE_ZIP
    cleanup: false
    draft: true
    on:
      all_branches: true
      condition: $TRAVIS_BRANCH =~ (^version-.*$|^dev$)
